/* GLOBAL RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* TEXT SELECTION COLOR */
::-moz-selection {
  background-color: aquamarine;
}

::selection {
  background-color: aquamarine;
}

/* HIDE SCROLLBAR */
::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* ELEMENTS */
body {
  position: relative;
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
}

header,
main,
footer,
article {
  display: flex;
}

header,
footer {
  align-items: center;
  width: 100%;
  height: 66px;
}

main,
article {
  flex-direction: column;
}

header {
  position: fixed;
  top: 0;
}

main {
  margin-top: 66px;
  padding-bottom: 132px;
  align-items: center;
  row-gap: 66px;
}

article {
  width: 100%;
  max-width: 640px;
  row-gap: 20px;
  padding: 0 20px;
}

footer {
  position: absolute;
  bottom: 0;
}

header nav,
footer nav {
  width: 100%;
  display: flex;
  padding: 0 20px;
}

header nav {
  justify-content: space-between;
}

article nav {
  display: flex;
  justify-content: flex-start;
  column-gap: 20px;
}

footer nav {
  justify-content: center;
  column-gap: 20px;
}

nav {
  justify-content: space-between;
}

/* TEXT */
a,
h1 {
  width: fit-content;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  text-decoration: none;
  line-height: 100%;
  font-family: "Source Code Pro", monospace;
  font-weight: 900;
  font-size: 12px;
  padding: 7px 10px;
}

p {
  color: rgb(0, 0, 0);
  line-height: auto;
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  font-size: 18px;
}

/* HOVER EFFECTS*/
a:hover {
  background-color: rgb(127, 255, 212);
  color: rgb(0, 0, 0);
}
