/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* WEB ELEMENTS */

h1,
h2,
h3,
h4,
h5,
h6,
li,
a,
p {
  font-family: "Source Code Pro";
  font-size: 16px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  text-decoration: none;
  list-style: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

body,
main {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}

header {
  position: fixed;
  top: 0;
}

main {
  margin: 60px 0;
}

header,
main,
footer {
  width: 100%;
  padding: 0 20px;
}

section,
article {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-top: 80px;
  padding-bottom: 20px;
}

header,
footer {
  height: 60px;
  display: flex;
  column-gap: 20px;
  align-items: center;
}

p {
  max-width: 600px;
}

a,
li {
  display: block;
  width: fit-content;
}

nav {
  display: flex;
  column-gap: 20px;
}

/* HOVER */

.hover:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

/* CLASS */

.black {
  width: fit-content;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
